/* Colors */
/* primary colors */
/* neutral colors */
/* text colors */
/* background colors */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
h1, h2, p, .nav {
  margin: 0 6.4%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.39062rem;
  line-height: 3rem;
  color: white;
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.01438rem;
  line-height: 2.375rem;
  color: #23303e;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.00813rem;
  line-height: 1.875rem;
  color: #818498;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: -4.125rem;
}

.nav--burger {
  background-image: url("../images/icon-hamburger.svg");
  height: 1.125rem;
  width: 1.5rem;
}

.nav--menu {
  display: none;
}

.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 143.36vw;
  overflow: hidden;
  width: 100vw;
}

.header .title {
  padding-top: 9rem;
}

.header--arrow {
  background-image: url("../images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 6.7175rem;
  width: 1.875rem;
  margin: 3.875rem auto 0 auto;
}

footer {
  background-color: #91d4c7;
  padding-bottom: 5rem;
}

footer .logo {
  height: 2.0625rem;
  margin-top: 4rem;
  width: 10.625rem;
}

footer .menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

footer .menu a {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.00813rem;
  line-height: 1.5625rem;
  color: #25564b;
}

footer .social {
  display: flex;
  justify-content: space-evenly;
  margin: 5.6875rem auto 0 auto;
  width: 10.25rem;
}

.home--one a {
  font-family: 'Fraunces', serif;
  font-size: 0.9375rem;
  font-weight: 900;
  letter-spacing: 0.0625rem;
  line-height: 1.5625rem;
  display: inline-block;
  margin-top: 10.67vw;
  text-transform: uppercase;
}

.home--one .bar {
  background-color: rgba(250, 212, 0, 0.25);
  border-radius: 28px;
  display: flex-block;
  height: 0.625rem;
  margin: 0 auto;
  width: 8.5625rem;
}

.home--one--A {
  display: block;
  height: 82vw;
  width: 100vw;
  background-image: url("../images/mobile/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home--one--B {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 17.07vw;
  padding-top: 17.07vw;
}

.home--one--B p {
  margin-top: 18.67vw;
}

.home--one--C {
  display: block;
  height: 82vw;
  width: 100vw;
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home--one--D {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 17.07vw;
  padding-top: 17.07vw;
}

.home--one--D p {
  margin-top: 8.53vw;
}

.home--one--D .bar {
  background-color: rgba(254, 120, 103, 0.25);
}
/*# sourceMappingURL=main.css.map */