.testimonial {

    .avatar {
        background-image: url('../images/image-emily.jpg');
        background-size: contain;
        border-radius: 50%;
        height: toRem(72);
        margin: 0 auto;
        width: toRem(72);
    }

    p {
        margin-top: toRem(32);

        @include media-md {
            margin: toRem(32) 22vw 0 22vw;
        }

        @include media-lg {
            margin: toRem(58) auto 0 auto;
            max-width: 24.22vw;
        }
    }

    .name {
        margin-top: toRem(42);

        @include media-lg {
            margin-top: toRem(79);
        }
    }

    .title {
        @include Barlow(14, -0.23, 25);
        color: $grayish-blue;
        margin-top: toRem(13);
    }

    &--two {
        .avatar {
            background-image: url('../images/image-thomas.jpg');
        }
    }

    &--three {
        .avatar {
            background-image: url('../images/image-jennie.jpg');
        }
    }
}