.header {
    background-image: url('../images/mobile/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: toRem(538);
    overflow: hidden;
    width: 100vw;

    @include media-md {
        background-image: url('../images/desktop/image-header.jpg');
        height: toRem(800);
    }

    @include media-xl {
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }

    
    .title {
        margin-top: toRem(91);
    }

    &--arrow {
        background-image: url('../images/icon-arrow-down.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: toRem(107.48);
        width: toRem(30);
        margin: toRem(62) auto 0 auto;

        @include media-lg {
            margin-top: toRem(109.54);
        }
    }
}