.home {

    &--two {

        h2 {
            @include Fraunces(28, -0.2, 34, 700);
        }

        p {
            margin-bottom: 17.86vw;
            margin-top: 9.07vw;
        }
        
        &--A {
            background-image: url('../images/mobile/image-graphic-design.jpg');
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
            color: $graphic-design-text;
            display: flex;
            flex-direction: column;
            padding-top: 106.13vw;
            width: 100vw;   
        }

        &--B {
            background-image: url('../images/mobile/image-photography.jpg');
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
            color: $photography-text;
            display: flex;
            flex-direction: column;
            padding-top: 106.13vw;
            width: 100vw;   
        }
    }
}