.home {

    &--one {
        display: grid;
        grid-template-columns: 100vw;

        .image {
            background-size: cover;
            height: 83.2vw;
        }

        .text-block {
            margin-bottom: 17.06vw;
            margin-top: 17.06vw;
        }

        p {
            margin-bottom: 10.67vw;
            margin-top: 18.67vw;
        }

        a {
            @include Fraunces(15, 1, 25, 900);
            text-transform: uppercase;
        }

        .bar {
            width: 137px;
            height: 10px; 
            background: #FAD400 0% 0% no-repeat padding-box;
            border-radius: 28px;
            margin: 0 auto;
            opacity: 0.25;
        }

        &--A {
            background-image: url('../images/mobile/image-transform.jpg');
            
        }

        &--B {
            
        }

        &--C {
            background-image: url('../images/mobile/image-stand-out.jpg');
        }

        &--D {

            p {
                margin-top: 8.53vw;
            }

            .bar {
                background-color: #FE7766;
            }

        }
    }
        
}