@mixin Barlow ($font-size, $letter-spacing, $line-height) {
    font-family: 'Barlow', sans-serif;
    font-size: toRem($font-size);
    font-weight: 600;
    letter-spacing: toRem($letter-spacing);
    line-height: toRem($line-height);
}

@mixin Fraunces ($font-size, $letter-spacing, $line-height, $font-weight) {
    font-family: 'Fraunces', serif;
    font-size: toRem($font-size);
    font-weight: $font-weight;
    letter-spacing: toRem($letter-spacing);
    line-height: toRem($line-height);
}

@mixin media-md {
    @media screen and (min-width: 500px) {
        @content;
    }   
}

@mixin media-lg {
    @media screen and (min-width: 1000px) {
        @content;
    }   
}

@mixin media-xl {
    @media screen and (min-width: 1500px) {
        @content;
    }   
}